<% provide :profile, "x" %>

<div class="profile">
  <h2>トランキーロネーム(酒呑みニックネーム)</h2>
  <%= form_for @drinker, :url => {:controller=>'drinkers' ,:action => 'update'} do |f| %>
    <div class="drinker-name">
      <div class="drinker-name-edit">
        <div class="profile-show">
        <%= link_to fa_icon("pencil-square-o"), "javascript: drinkers.edit()" %>
        </div>
      </div>
      <div class="drinker-name-content">
        <span class="profile-show"><%= @drinker.name %></span>
        <span class="profile-edit"><%= f.text_field :name%></span>
      </div>
      <div class="drinker-name-operations">
        <div class="profile-edit">
          <%= link_to fa_icon("floppy-o"),
            "javascript: $('.edit_drinker').submit()" %>
          &nbsp;
          <%= link_to fa_icon("times"), "javascript: drinkers.cancel()" %>
        </div>
      </div>
    </div>
  <% end %>
  <p class="profile-warning">
  ※トランキーロネーム、称号、呑みログは公開されます
  </p>
<div class="profile">
  <h2>称号</h2>
  <p class="sake-title"><%= @drinker.sake_title %></p>
</div>
<div class="drinker-log profile">
  <h2>呑みログ</h2>
  <div class="logs">
  <% @drinker.drinkings.includes(:sake, :sake_temperature).
    reverse_each do |drink| %>
    <div class="log">
      <p class="log-date"><%= drink.created_at.strftime("%Y.%m.%d %H:%M") %></p>
      <p class="log-sake"><%= drink.sake.name %>  <%= drink.sake_temperature.name %></p>
    </div>
  <% end %>
  </div>

  <a rel="nofollow" data-method="delete" href="/drinker/sign_out">
    <input type="button" value="ログアウト" class="normal">
  </a>

  <div class="profile-login-terms">
    <a href="/terms">利用規約</a>
  </div>
</div>
