<% provide :profile, "x" %>
<script>
  function edit()
  {
   $(".profile-show").css("display","none");
   $(".profile-edit").css("display","inline");
  }
  function cancel()
  {
   $(".profile-show").css("display","inline");
   $(".profile-edit").css("display","none");
  }
</script>

<div class="profile">
  <p><b>トランキーロネーム(酒呑みニックネーム)</b></p>
  <%= form_for @drinker, :url => {:controller=>'drinkers' ,:action => 'update'} do |f| %>
    <p class="drinker-name">
    <span class="profile-show"><%= @drinker.name %></span>
    <span class="profile-edit"><%= f.text_field :name%></span>
    <span class="profile-show"> <button onClick="edit();" type="button">編集</button></span>
    <span class="profile-edit"> <%= f.submit id: "button"%> </span>
    <span class="profile-edit"><button onClick="cancel();" type="button">キャンセル</button></span>
    </p>
  <% end %>
  <p class="profile-warning">※トランキーロネーム、称号、呑みログは公開されます</p>
</div>
<div class="profile">
  <p><b>称号</b></p>
  <p class="sake-title">島根の酒豪</p>
</div>
<div class="drinker-log profile">
  <p><b>呑みログ</b></p>
  <div class="logs">
  <% @drinker.drinkings.reverse_each do |drink| %>
    <div class="log">
      <p class="log-date"><%= drink.created_at.strftime("%Y.%m.%d %h:%m") %></p>
      <p class="log-sake"><%= drink.sake.name %>  <%= drink.sake_temperature.name %></p>
    </div>
  <% end %>
  </div>

  <a rel="nofollow" data-method="delete" href="/drinker/sign_out">
    <input type="button" value="ログアウト" class="normal">
  </a>
</div>
