<h1>プロフィール</h1>

<div>
  <p><b>ユーザーネーム: </b></p>
  <p><%= @drinker.name %>  <%= link_to 'Edit', edit_drinker_path%></p>
</div>

<div>
  <p><b>飲み歩き伝</b></p>
  <% @drinker.drinkings.reverse_each do |drink| %>
    <div>
      <p><%= drink.created_at %></p>
      <p><%= drink.sake.name %>  <%= drink.sake_temperature.name %></p>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "Logout", destroy_drinker_session_path, method: :delete %>
</div>