<p><%= @sake.brewery.name %></p>
<%= link_to '今いるお店が違う場合はこちら', '#' %>
<p><%= @sake.name %></p>
<p><%= image_tag "system/sakes/photos/000/000/001/original/@sake.photo_file_name", alt: 'Sake image' %></p>
<p>foobar</p>
<p><%= link_to '投票', new_drinking_path, remote: true %></p>
