  <% provide(:restaurant, @restaurant.official_name) %>
<div id="checkin-panel">
  <%= link_to "今いるお店が、上記と違う場合はこちら", new_checkin_path %>
</div>
<div id="sake-select-panel">
  <div class="shouji">
    <%= image_tag asset_path("shouji_left_x2.png") %>
  </div>
  <div id="sakes">
    <% @restaurant.sakes.each do |sake| %>
      <div class="sake">
        <%= image_tag sake.photo(:medium), alt: sake.name %>
      </div>
    <% end %>
  </div>
  <div class="shouji">
    <%= image_tag asset_path("shouji_right_x2.png") %>
  </div>
</div>
<div id="sake-info">
  <div class="sake-change">
    <%= image_tag asset_path("slider-prev.png"),
                  onclick: "$('#sakes').slick('slickPrev');" %>
  </div>
  <div id="sake-name">
  </div>
  <div class="sake-change">
    <%= image_tag asset_path("slider-next.png"),
                  onclick: "$('#sakes').slick('slickNext');" %>
  </div>
</div>
<div class="vote-button-area">
  <%= render 'show' %>
</div>
<div id="vote-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
</div>

<script type="text/javascript">
  function setSakeName(name) {
    $('#sake-name').empty().append(_.escape(name).replace(/\s+/g, '<br/>'));
  }

  function setVoteText(text) {
    $('#vote-button').val(text);
  }

  function setVoteUrl(url) {
    $('#vote').attr('action', url);
  }

  function setVoteButtonClass(class_name) {
    $('#vote-button').removeClass();
    $('#vote-button').addClass(class_name);
  }

  $('#sakes').slick({
    infinite: false,
    arrows: false,
    dots: true
  });

  $('#sakes').on('afterChange', function(e, slick, currentSlide) {
    index = currentSlide;
    setSakeName(sakes[index].name);
    setVoteText(sakes[index].vote_text);
    setVoteUrl(sakes[index].vote_url);
    setVoteButtonClass(sakes[index].klass);
  });

  setSakeName(sakes[0].name);
  setVoteText(sakes[0].vote_text);
  setVoteUrl(sakes[0].vote_url);
  setVoteButtonClass(sakes[0].klass);
</script>
