  <% provide(:title, @restaurant.official_name) %>

<script type="text/javascript">
  restaurants.selectSake(0);
</script>

<div id="checkin-panel">
  <br>
</div>
<div id="sake-select-panel">
  <div class="shouji">
    <%= image_tag asset_path("shouji_left_x2.png") %>
  </div>
  <div class="sake-slick js-sake-slick">
    <% @restaurant.festival_sakes(@current_festival).each do |sake| %>
      <div class="sake">
        <%= image_tag asset_path("sake/#{sake.id}.png"), alt: sake.name, data:{original:asset_path("sake/#{sake.id}.png")} %>
      </div>
    <% end %>
  </div>
  <div class="shouji">
    <%= image_tag asset_path("shouji_right_x2.png") %>
  </div>
</div>
<div id="sake-info">
  <div class="sake-slick_btn js-sake-slick-prev">
    <%= image_tag asset_path("slider-prev.png") %>
  </div>
  <div id="sake-name">
  </div>
  <div class="sake-slick_btn js-sake-slick-next">
    <%= image_tag asset_path("slider-next.png") %>
  </div>
</div>
<div class="vote-button-area">
  <%= render 'show' %>
</div>
<div class="modal fade js-modal" tabindex="-1" role="dialog" aria-hidden="true">
</div>
