<div class="modal-content">
  <%= form_for(@drinking, remote: true) do |f| %>
    <div class="modal-header">
      <button type="button" class="close">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="modal-text">飲み方</p>
      <div class="field temperatures">
        <% @temperatures.each do |t| %>
          <%= f.radio_button :sake_temperature_id, t.id, checked: t.default? %>
          <%= f.label :sake_temperature_id, t.name, value: t.id %>
        <% end %>
        <%= f.hidden_field :festival_id, value: @festival_id %>
        <%= f.hidden_field :restaurant_id, value: @restaurant_id %>
        <%= f.hidden_field :sake_id, value: @sake_id %>
      </div>
      <p class="modal-text">評価する</p>
      <%= f.fields_for :vote do |v| %>
        <div class="field">
          <%= v.select :score, (Vote::MIN_SCORE..Vote::MAX_SCORE), {}, { id: 'scores' } %>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <%= f.submit '投票', class: 'normal close' %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(function() {
    $('#scores').barrating({
      theme:         'fontawesome-stars',
      initialRating: 3
    });
  });
</script>
