<div class="thewinner">
<h1 class="thewinner-title">
  <% if @sake %>
    結果発表
  <% else %>
    結果発表は<%= @current_festival.end_at.strftime("%H:%M") %>です
  <% end %>
</h1>
<div class="thewinner-wrap-content<%= ' thewinner-result' if @sake %>">
  <% if @sake %>
    <% brand, *names = @sake.name.split(',') %>
  <div class="thewinner-no1">1位は...</div>
  <div class="thewinner-hiyaoroshi">
    <span class="thewinner-brand"><%= brand %></span><br>
    <%= raw names.map { |s| h(s) }.join("<br>") %>
  </div>
  <div class="thewinner-image">
    <%= image_tag asset_path("sake/#{@sake.id}.png") %>
  </div>
  <% else %>
  <p class="thewinner-coming-soon">ただいま集計中</p>
  <p class="thewinner-wait">少々お待ちください。</p>
  <% end %>
</div>
